@model IEnumerable<AudioStream.Models.User>


@{
    ViewData["Title"] = "Index";
}

<h1>Artists</h1>

<p>
  @*  <a asp-action="Create">Create New</a> *@
</p>

<form asp-controller="Users" asp-action="Index">
    <p>
        Artist: <input type="text" name="SearchString">
        <input type="submit" value="search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
           <th>
                songs 
            </th>
            <th>
                primary genre
            </th>@*
            <th>
                @Html.DisplayNameFor(model => model.ArtistAccount)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name) 
            </td>
            <td>
                <a asp-action="externalProfile" asp-route-id="@item.Id"> <input class="small" type="submit" value="go to page" /> </a>
            </td>
            <td>
                <p>empty field</p>
            </td> 
            <td>
                empty field
            </td>   @*
            <td>
                @Html.DisplayFor(modelItem => item.ArtistAccount)
            </td> *@
        @*    <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td> *@
        </tr>
}
    </tbody>
</table>
