@model IEnumerable<AudioStream.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Stream</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>Incoming Music</p>





<table class="table">
    <thead>
        <tr>
            <th>
                <p>Music</p>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>

            <th></th>
        </tr>
    </thead>
      
    <tbody>
        @foreach (var item in Model)
        {
            
            <tr>
                <td>
                    <audio controls preload="auto" onended="endSong(id)" onplay="playSong(id)" class="songs" id="@item.Id">
                        <source src="@Url.Content("~/"+item.Title+".mp3")" type="audio/mpeg">
                    </audio>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>

                @*
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                *@
            </tr>
        }
    </tbody>
</table>

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
@*
<script type="text/javascript">
    $(document).ready(function () {
        init();
        function init() {
            var audioArray = document.getElementsByClassName('songs');
            var i = 0;
            audioArray[i].play();
            for (i = 0; i < audioArray.length - 1; ++i) {
                audioArray[i].addEventListener('ended', x()); //{
                //var currentSong = e.target;
                //var next = $(currentSong).nextAll('audio');
                //if (next.length) $(next[0]).trigger('play');
                //   i++;
                //  audioArray[i].play();
                //});
            }            
        }
        function x() {
            i++;
            audioArray[i].play();
        }
    })    
</script>
    *@
@*///////////////////////////////////////// This fires off when a song is ended////////////*@
<script type="text/javascript">
    function endSong(id)
    { 
        var   i                  = 0                                       ;  
        var   audioArray         = document.getElementsByClassName('songs'); //get all songs on the page 
        while (audioArray[i].id != id) { i++; }                              //check if we have iterated to the value of the song that has just played
        i                       += 1;                                        //move value to next song
        audioArray[i].play()                                               ; //play the next song
    }
</script>
@*/////////////////////////////////////// This stops all songs that are playing aside from the one we want to play ///////*@
<script type="text/javascript">
    function playSong(id)
    {
        var i          = 0                                                 ; 
        var audioArray = document.getElementsByClassName('songs')          ; //get all songs on page
        for (i = 0; i < audioArray.length; i++)                              //iterate through songs
        {
            if (audioArray[i].id != id) { audioArray[i].pause();}            //pause any song that doesnt have the id that was passed to the function
        }
    }
</script>
@*TODO :  REPLAY BUTTON &&&& COUNT REPLAYS VS PLAYS*@




