@model IEnumerable<AudioStream.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Stream</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>Incoming Music</p>




<table class="table">
    <thead>
        <tr>
            <th>
                <p>Music</p>
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <audio controls>
                    <source src="@Url.Content("~/"+item.Title+".mp3")" type="audio/mpeg">
                </audio>
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
             
            @*
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
                *@
        </tr>
}
    </tbody>
</table>
